
apiVersion: 1

datasources:
  - name: Zabbix
    type: alexanderzobnin-zabbix-datasource
    access: proxy
    url: http://zabbix-web:8080/api_jsonrpc.php
    jsonData:
      username: ${ZABBIX_USER}
      password: ${ZABBIX_PASS}
      zabbixVersion: 6.4
    editable: false
